body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    margin: 50px;
    max-width: 480px;
    max-height: 480px;
}

.grid-row {
    display: flex;
    border: 1px solid black;
}

.grid-square {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    flex: 0 1 auto;
}
